{% extends 'layouts/app.html.twig' %}

{% block title %}Editer un département : {{ departement.id }}{% endblock %}

{% block body %}
<main role="main" class="container">
    <div class="card mt-5">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-xs-12">
                    <h2 class="class-title">Editer un département : {{ departement.id }}</h2>
                </div>
                <div class="col-md-4 col-lg-4 text-right">
                    <a class="btn btn-sm btn-neutral" href="{{ path('departement') }}"><i class="fas fa-backward"></i> Retour</a>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.shortname) }}
                    {{ form_widget(form.Submit, {'label': 'Mettre à jour le département'}) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}